/* Resetting default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #B8B8D1; /* French Grey */
    color: #FFFFFB; /* Baby Powder */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1; /* Allow the main content to grow and take up available space */
}

header {
    background-color: #FFFFFB; /* Ultra Violet */
    padding: 10px;
    color: #5B5F97; /* Baby Powder */
    text-align: center;
    width: 100%;
    display: flex;
}

.logo {
    display: block;
    margin: 0 auto; /* Center the logo */
}

.logo img {
    width: 150px; /* Adjust the width as needed */
    height: auto;
    align-items: center;
}

.menu-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    cursor: pointer;
    display: block;
}

.menu-icon span {
    display: block;
    width: 30px;
    height: 5px;
    background-color: #5B5F97;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: 0.3s;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked ~ .sidebar {
    transform: translateX(0);
    display: block;
}

#menu-toggle:checked ~ .menu-icon span {
    background-color: #FFC145;
}

.sidebar {
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #5B5F97;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 10%;
    
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffc145;
    display: block;
    transition: 0.3s;
}

.sidebar ul li a {
    color: #fffffb;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidebar ul li:hover, .sidebar ul li a:hover {
    color: #ffc145;
}

#menu-toggle:checked + .menu-icon + .sidebar {
    left: 0;
}


.content {
    padding: 20px;
    background-color: #FFFFFB; /* Baby Powder */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h2 {
    color: #5B5F97; /* Ultra Violet */
    margin-bottom: 10px;
}

.content p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #5B5F97; /* Ultra Violet */
}

.history-image {
    text-align: center;
    margin-top: 20px;
    max-width: 400px;
}

.history-image img {
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #FF6B6C; /* Light Red */
    color: white;
    position: relative;
    width: 100%;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    /* copyright colour*/
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a {
        padding: 8px;
        margin: 4px;
    }
}
