/* Resetting default styles */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body, h1, h2, p, label, input, button, ul, li, textarea {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #B8B8D1; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff; /* Baby Powder */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    text-align: center;
}

form .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }


.post {
    display: none;
}

.post .text {
    font-size: 20px;
    margin-bottom: 20px;
}

.post .edit {
    color: #5B5F97; /* Ultra Violet */
    cursor: pointer;
    text-decoration: underline;
}

.star-widget {
    display: block;
}

.star-widget form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.question {
    margin-bottom: 20px;
    width: 100%;
    
}

.question header {
    font-size: 16px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0); /* Ultra Violet */
}

.rating {
    display: flex;
    direction: rtl;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 30px;
    color: #ccc; /* Gray for unselected stars */
    cursor: pointer;
    transition: color 0.2s;
}

.rating input:not(:checked) ~ label:hover,
.rating input:not(:checked) ~ label:hover ~ label {
    color: #ffd073; /* Xanthous for hover stars */
}

.rating input:checked ~ label {
    color: #FFC145; /* Xanthous for selected stars */
}

.rating input:checked ~ label:hover,
.rating input:checked ~ label:hover ~ label,
.rating input:checked ~ label:hover ~ input ~ label {
    color: #ffaa00; /* Light Red for clicked stars on hover */
}

.textarea {
    width: 100%;
}

.textarea textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #5B5F97; /* Ultra Violet */
    border-radius: 5px;
    resize: none;
}

.btn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5B5F97; /* Ultra Violet */
    color: #FFFFFB; /* Baby Powder */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn button:hover {
    background-color: #FFC145; /* Xanthous */
    color: #5B5F97; /* Ultra Violet */
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }
}
